@charset "utf-8";
body {font-size:14px;}
h1, h2 {font-size:33px;}
h3 {font-size:20px;letter-spacing:-1px;margin:-4px 0 0 0;}
h4 {font-size:25px;}
h5 {font-size:18px;}

/* Main products slider images */
#slider-0{background-image:url(img/product_cars_mobile.jpg);}
#slider-1{background-image:url(img/product_cars_mobile.jpg);}
#slider-2{background-image:url(img/product_cars_mobile.jpg);}

article nav {clear:both;text-align:left;margin:0;padding-top:20px;}
article nav a {margin:0 0 20px 0;display:block;}
article nav ul li {}
article footer {display:none;}
article span {width:100%;}
article section {}

#slider p{display:none}
#slider a{font-size:11px}
#slider h2{font-size:25px}
#slider header {/*min-height:70px*/display:none;}
/*#slider{position:absolute !important}*/
.slider-excerpt {display:block !important;text-transform:none;line-height:130%;margin-bottom:5px}
#slider article {top:50px}
#slider section {padding:15px 15px;}
.slider-h2-break {height:30px}
.slider-btns {margin:5px 5px 0 0;}
.slider-btns a {width:35px;height:35px;background-size:100%}

#spotlight {height:80px;}
#spotlight p {display:none} 
#spotlight header {display:inline-block}
#spotlight-second {display:none !important;}
#spotlight article {width:90%}
.scroll-cols, .cursor-more, .cursor-back {display:none;}
.excerpt {padding:0 !important;}
#our-team div {display:block !important}

.partners-first {width:100% !important;padding-bottom:30px !important;}
.article-one-column section {margin-top:0px;}
.article-one-column ul li {width:auto;padding:0 5px 0 0;text-align:justify;}
.article-one-column img {width:45px;height:auto;}

/* mobilkai */
.page-width {margin:auto;width:90%;}
article, #products div {padding:20px 0 0 0;}
article section {clear:both;display:block;-webkit-columns:auto 1;-webkit-column-gap: 0px;-moz-columns:auto 1px;-moz-column-gap: 0px;margin:40px 0 0 0;}
article nav, article time {float:left;}
.article-whitespace {display:none;}
.excerpt {width:100%;margin-top:10px;}
#more {text-align:right;}

/*.topbtn {display:none}*/
.topbtn a{width:70px;height:35px;font-size:14px;background-size:70px;}
.topbtn {z-index:99999;}

#main-header {display:block;height:180px;}
#main-header strong {font-size:25px;letter-spacing:-1px;padding-top:90px;}
.header-news strong{padding-top:105px !important;}

/*.main-nav {background:rgba(50,50,50,1) url(img/menu_ico.png) no-repeat center right; background-position:94%;}*/
.main-nav {background:#bd080c;}
.main-nav a {display:none;width:60%;background:#424242;padding:15px 0;text-align:center;float:right}
.main-nav #menu-about {padding:15px 0 15px 0;}
.main-nav #menu-ico {display:block;background:#bd080c url(img/menu_ico_btn.png) no-repeat top right;width:55px;height:55px;padding:0;position:absolute;top:0;right:0}
.main-nav #menu-home{float:left;display:block;}
.main-nav #home{width:80%;text-align:left;}
#menu-mobile {display:inline-block;position:relative;background:red;float:right;}

#sector-block ul li {height:30px;padding-right:0}
#sector-block ul li img {width:75%}

#news-more {right:60px;text-align:right}
#calendar-block{width:250px;height:310px;margin-top:-370px;}
#calendar span{width:31px;height:23px;}
#calendar-year{padding-top:0;}

#attention-hiring {padding-left:0px;}
#attention ul {text-align:center;float:left;}
#attention ul li {width:100%;display:inline-block;}
#attention h2 {margin-top:40px;font-size:24px;}
.attention-text {position:absolute;left:100%;display:none !important;}
#attention {z-index:0;overflow:hidden}


.dts-form form {width:320px;height:500px;margin-top:0;}
.dts-form form p {font-size:11px;padding-top:0px;}
.dts-form form div {padding:20px;}
.dts-form span a {width:50px;height:50px;background-size:100%}
.dts-form h2 {font-size:30px;height:50px;padding:0 15px;}
.dts-form h3 {font-size:18px;}
.dts-form input[type="submit"] {height:30px;width:120px;}
.dts-form input[type="text"], .dts-form textarea {font-size:18px;width:260px;padding:7px 10px;margin-top:5px}
.dts-form input[type="submit"] {margin:0 0 10px 0;font-size:18px}

footer ul li {display:block;}